<a href="https://colab.research.google.com/github/mubasshar009/ML_DL_Model/blob/master/IRIS_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/639388c2cbc2120a14dcf466e85730eb8be498bb/iris.csv",encoding='utf_8')
data.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
X = data.loc[:,'sepal_length':'petal_width']
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [ ]:
dic = {'setosa':1,'versicolor':2,'virginica':3}
data['Spec_Map'] = data['species'].map(dic)

data.head(2)

   sepal_length  sepal_width  petal_length  petal_width species  Spec_Map
0           5.1          3.5           1.4          0.2  setosa         1
1           4.9          3.0           1.4          0.2  setosa         1

In [ ]:
y = data['species']
y.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

In [ ]:
y.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [ ]:
y = pd.get_dummies(y)
y.drop_duplicates()

     setosa  versicolor  virginica
0         1           0          0
50        0           1          0
100       0           0          1

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam, SGD

In [ ]:
model = Sequential()
model.add(Dense(5, activation='relu',input_shape=(4,)))
model.add(Dense(3, activation='softmax'))

In [ ]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 5)                 25
_________________________________________________________________
dense_5 (Dense)              (None, 3)                 18
=================================================================
Total params: 43
Trainable params: 43
Non-trainable params: 0
_________________________________________________________________

In [ ]:

model.compile(optimizer=SGD(lr=0.1),
             loss='categorical_crossentropy',
             metrics=['acc'])

In [ ]:
#Training
model.fit(X,y, epochs=30)

Epoch 1/30
5/5 [==============================] - 0s 2ms/step - loss: 2.4391 - acc: 0.2333
Epoch 2/30
5/5 [==============================] - 0s 2ms/step - loss: 1.1363 - acc: 0.4600
Epoch 3/30
5/5 [==============================] - 0s 1ms/step - loss: 1.0182 - acc: 0.4933
Epoch 4/30
5/5 [==============================] - 0s 2ms/step - loss: 0.6838 - acc: 0.7867
Epoch 5/30
5/5 [==============================] - 0s 2ms/step - loss: 0.6188 - acc: 0.8267
Epoch 6/30
5/5 [==============================] - 0s 2ms/step - loss: 0.5436 - acc: 0.7667
Epoch 7/30
5/5 [==============================] - 0s 2ms/step - loss: 0.4964 - acc: 0.8400
Epoch 8/30
5/5 [==============================] - 0s 2ms/step - loss: 0.4534 - acc: 0.8600
Epoch 9/30
5/5 [==============================] - 0s 2ms/step - loss: 0.4048 - acc: 0.8600
Epoch 10/30
5/5 [==============================] - 0s 2ms/step - loss: 0.3971 - acc: 0.8600
Epoch 11/30
5/5 [==============================] - 0s 1ms/step - loss: 0.4930 - acc: 0.8067
Epoch 12/30
5/5 [==============================] - 0s 1ms/step - loss: 0.3924 - acc: 0.7600
Epoch 13/30
5/5 [==============================] - 0s 2ms/step - loss: 0.3839 - acc: 0.8000
Epoch 14/30
5/5 [==============================] - 0s 1ms/step - loss: 0.3279 - acc: 0.9333
Epoch 15/30
5/5 [==============================] - 0s 1ms/step - loss: 0.3399 - acc: 0.8533
Epoch 16/30
5/5 [==============================] - 0s 1ms/step - loss: 0.3228 - acc: 0.8800
Epoch 17/30
5/5 [==============================] - 0s 1ms/step - loss: 0.3771 - acc: 0.8133
Epoch 18/30
5/5 [==============================] - 0s 1ms/step - loss: 0.4196 - acc: 0.8133
Epoch 19/30
5/5 [==============================] - 0s 2ms/step - loss: 0.4600 - acc: 0.7733
Epoch 20/30
5/5 [==============================] - 0s 2ms/step - loss: 0.2978 - acc: 0.8667
Epoch 21/30
5/5 [==============================] - 0s 2ms/step - loss: 0.2953 - acc: 0.8867
Epoch 22/30
5/5 [==============================] - 0s 2ms/step - loss: 0.2805 - acc: 0.9467
Epoch 23/30
5/5 [==============================] - 0s 2ms/step - loss: 0.2366 - acc: 0.9467
Epoch 24/30
5/5 [==============================] - 0s 2ms/step - loss: 0.3872 - acc: 0.8267
Epoch 25/30
5/5 [==============================] - 0s 2ms/step - loss: 0.6067 - acc: 0.6867
Epoch 26/30
5/5 [==============================] - 0s 2ms/step - loss: 0.2751 - acc: 0.9067
Epoch 27/30
5/5 [==============================] - 0s 2ms/step - loss: 0.2250 - acc: 0.9800
Epoch 28/30
5/5 [==============================] - 0s 2ms/step - loss: 0.2639 - acc: 0.8867
Epoch 29/30
5/5 [==============================] - 0s 1ms/step - loss: 0.4069 - acc: 0.7400
Epoch 30/30
5/5 [==============================] - 0s 2ms/step - loss: 0.3888 - acc: 0.8133

In [ ]:
import numpy as np

data['Predict'] = y.columns.take(np.argmax(model.predict(data.loc[:,'sepal_length':'petal_width']),axis = 1))

In [ ]:
data.head()

   sepal_length  sepal_width  petal_length  ...  species Spec_Map  Predict
0           5.1          3.5           1.4  ...   setosa        1   setosa
1           4.9          3.0           1.4  ...   setosa        1   setosa
2           4.7          3.2           1.3  ...   setosa        1   setosa
3           4.6          3.1           1.5  ...   setosa        1   setosa
4           5.0          3.6           1.4  ...   setosa        1   setosa

[5 rows x 7 columns]

In [ ]:
data.sample(10)

     sepal_length  sepal_width  petal_length  ...     species Spec_Map     Predict
25            5.0          3.0           1.6  ...      setosa        1      setosa
23            5.1          3.3           1.7  ...      setosa        1      setosa
99            5.7          2.8           4.1  ...  versicolor        2  versicolor
123           6.3          2.7           4.9  ...   virginica        3   virginica
53            5.5          2.3           4.0  ...  versicolor        2  versicolor
63            6.1          2.9           4.7  ...  versicolor        2  versicolor
142           5.8          2.7           5.1  ...   virginica        3   virginica
85            6.0          3.4           4.5  ...  versicolor        2  versicolor
68            6.2          2.2           4.5  ...  versicolor        2  versicolor
31            5.4          3.4           1.5  ...      setosa        1      setosa

[10 rows x 7 columns]

In [ ]:
print('ACCURACY ',model.evaluate(X,y)[1])

5/5 [==============================] - 0s 1ms/step - loss: 0.2246 - acc: 0.9600
ACCURACY  0.9599999785423279