In [3]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [4]:
data = pd.read_csv('student_data.csv',usecols=['gre','gpa','rank'])
data.head(10)

   gre   gpa  rank
0  380  3.61     3
1  660  3.67     3
2  800  4.00     1
3  640  3.19     4
4  520  2.93     4
5  760  3.00     2
6  560  2.98     1
7  400  3.08     2
8  540  3.39     3
9  700  3.92     2

In [5]:
len(data)

400

In [6]:
labels = pd.read_csv('student_data.csv',usecols=['admit'])
labels.head(10)

   admit
0      0
1      1
2      1
3      1
4      0
5      1
6      1
7      0
8      1
9      0

In [7]:
train_data =data.iloc[:300]
test_data =data.iloc[300:350]
valid_data =data.iloc[350:]

In [8]:
train_labels =labels.iloc[:300]
test_labels =labels.iloc[300:350]
valid_labels =labels.iloc[350:]

In [9]:
train_labels.shape

(300, 1)

# Model build

In [10]:
train_data.shape

(300, 3)

In [11]:
model = Sequential()
model.add(Dense(512,'tanh',input_shape = (3,)))
model.add(Dense(256,'tanh'))
model.add(Dense(144,'tanh'))
model.add(Dense(72,'tanh'))
model.add(Dense(36,'tanh'))
model.add(Dense(12,'tanh'))
model.add(Dense(3,'tanh'))
model.add(Dense(1,'sigmoid'))

# Compilation

In [12]:
from tensorflow.keras.optimizers import Adam

In [16]:
model.compile(Adam(lr = 0.00001),'binary_crossentropy',metrics=['acc'])

In [17]:
train_labels.shape

(300, 1)

# Training

In [18]:
model.fit(train_data,train_labels,epochs=20)

Epoch 1/20
10/10 [==============================] - 0s 5ms/step - loss: 0.6165 - acc: 0.6933
Epoch 2/20
10/10 [==============================] - 0s 6ms/step - loss: 0.6165 - acc: 0.6933
Epoch 3/20
10/10 [==============================] - 0s 6ms/step - loss: 0.6165 - acc: 0.6933
Epoch 4/20
10/10 [==============================] - 0s 5ms/step - loss: 0.6165 - acc: 0.6933
Epoch 5/20
10/10 [==============================] - 0s 5ms/step - loss: 0.6165 - acc: 0.6933
Epoch 6/20
10/10 [==============================] - 0s 6ms/step - loss: 0.6165 - acc: 0.6933
Epoch 7/20
10/10 [==============================] - 0s 5ms/step - loss: 0.6165 - acc: 0.6933
Epoch 8/20
10/10 [==============================] - 0s 5ms/step - loss: 0.6165 - acc: 0.6933
Epoch 9/20
10/10 [==============================] - 0s 5ms/step - loss: 0.6165 - acc: 0.6933
Epoch 10/20
10/10 [==============================] - 0s 6ms/step - loss: 0.6165 - acc: 0.6933
Epoch 11/20
10/10 [==============================] - 0s 5ms/step - loss: 0.6165 - acc: 0.6933
Epoch 12/20
10/10 [==============================] - 0s 5ms/step - loss: 0.6165 - acc: 0.6933
Epoch 13/20
10/10 [==============================] - 0s 4ms/step - loss: 0.6165 - acc: 0.6933
Epoch 14/20
10/10 [==============================] - 0s 6ms/step - loss: 0.6165 - acc: 0.6933
Epoch 15/20
10/10 [==============================] - 0s 5ms/step - loss: 0.6165 - acc: 0.6933
Epoch 16/20
10/10 [==============================] - 0s 7ms/step - loss: 0.6165 - acc: 0.6933
Epoch 17/20
10/10 [==============================] - 0s 9ms/step - loss: 0.6165 - acc: 0.6933
Epoch 18/20
10/10 [==============================] - 0s 9ms/step - loss: 0.6165 - acc: 0.6933
Epoch 19/20
10/10 [==============================] - 0s 7ms/step - loss: 0.6165 - acc: 0.6933
Epoch 20/20
10/10 [==============================] - 0s 6ms/step - loss: 0.6165 - acc: 0.6933

In [19]:
hist = model.evaluate(test_data,test_labels)
print('Accuracy : {}'.format(hist[1]))

2/2 [==============================] - 0s 2ms/step - loss: 0.5941 - acc: 0.7200
Accuracy : 0.7200000286102295

In [20]:
print(valid_data.iloc[12])

valid_labels.iloc[12]

gre     680.00
gpa       3.14
rank      2.00
Name: 362, dtype: float64

admit    0
Name: 362, dtype: int64

In [21]:
results = model.predict([[680.00,3.14,2.00]])
if results < 0.5:
    print('correct')
else:
    print('False')

correct